body {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(5%, #2f6ed3),
    color-stop(20%, #5095e4),
    color-stop(60%, #5095e4),
    color-stop(95%, #2f6ed3)
  );
}

p,
li {
  color: var(--dark-solid-text-color);
  line-height: 1.6;
  font-weight: 500;
}
#grid-principale {
  margin: 2em;
  display: grid;
  grid-template: auto / 40% 50%;
  gap: 1em;
  justify-content: space-around;
}
#grid-principale div {
  grid-column-start: 1;
}
#grid-principale img {
  /* Diapos */
  border-radius: 20px;
  box-shadow: var(--main-box-shadow);
}
#grid-principale div:nth-child(5) {
  grid-column: 2;
  grid-row: 1 / 2;
}
#grid-principale div:last-child {
  /* Iframe Div */
  grid-column: 2;
  grid-row: 2 / 4;
}
#grid-principale iframe {
  width: 100%;
  height: 100%;
}
