/* -------------------------------------------------------------------------- */
/*                                 Generalites                                */
/* -------------------------------------------------------------------------- */

/* --------------------------------- Textes --------------------------------- */
h1:not(.code h1), h3:not(.code h3), p:not(.code p), ul:not(.code ul) {
  color: var(--dark-solid-text-color)
}

div.t { /* Div des themes */
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
}
h3 { /* Numéros des activités */
  margin-top: 2em;
  text-align: center;
  font-size: 22px;
}
h1:not(#top-bar h1) { /*Titre des activtés */
  margin-top: 0;
  text-align: center;
  font-size: 28px;
}
h2 { /* Titre des elements */
  margin: 2em 2em 1em 2em;
}
/* ---------------- Zones dans les themes (ex: partp1, partp2) ---------------- */
.t-part {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
}


/* -------------------------- Div de Documentation -------------------------- */
div.doc {
  margin: 1em;
}
p, ul:not(#top-bar ul){
  font-size: 15;
  line-height: 1.6;
  font-weight: 500;
}
ul:not(#top-bar ul){
  padding-left: 25px;
}

/* ------------------------------- Div de Code ------------------------------ */
div.code {
  background-color: rgb(35, 39, 46);
  box-shadow: var(--black-box-shadow);
  color: var(--light-solid-text-color);
  height: 500px;
  overflow: auto;
  margin-bottom: 0; /* pour le after 'scroll' */
}
.code td {
  border: 1px solid #333;
}
.code em {
  color: blanchedalmond;
  font-family: monospace;
  font-style: normal;
}
.code td:last-child {
  text-align: right;
}
.code-scroll-invite {
  display: flex;
  content: "↓ scroll";
  padding: 10px;
  background-color: white;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
}

/* --------- Div : Autre élements (pdf, images) ----------*/
iframe.pdf {
  margin: 1em 1em 1em 2em;
  height: 650px;
  border-radius: 10px;
  box-shadow: var(--main-box-shadow);
}
img:not(#menuDiv img) {
  margin: 1em 1em 1em 2em;
  border-radius: 10px;
  box-shadow: var(--main-box-shadow);
}



/* -------------------------------------------------------------------------- */
/*                               Theme par theme                              */
/* -------------------------------------------------------------------------- */

/* --------------------------------- Thème 1 -------------------------------- */
#tp1, #tt1 {
  background-color: rgb(255, 158, 158);
}
@media screen and (min-width: 1300px) {
  .tp1-pdf {
    width: 72%;
  }
  #tp1 img.girafe {
    height: 650px;
    width: 20%;
  }
}
@media screen and (max-width: 1300px) {
  .tp1-pdf {
    width: 95%;
  }
  #tp1 img.girafe {
    display: none;
  }
}
#tt1 .code {
  margin-bottom: 0;
}
#tt1 .t-part:nth-child(4) {
  flex-direction: column;
}
#tt1 img { /* ecureuil */
  width: 20%;
}
#tt1 .t-part:first-child div.doc {
  width: 50%;
}

/* --------------------------------- Thème 2 -------------------------------- */
#tp2, #tt2 {
  background-color: rgb(219, 205, 126);
}
#tp2 div.doc {
  align-items: center;
}


/* --------------------------------- Thème 3 -------------------------------- */
#tp3 {
  background-color: rgb(80, 209, 170);
}
#tp3 img.elephant {
  border-radius: 100%;
}

/* --------------------------------- Thème 4 -------------------------------- */
#tp4 {
  background-color: rgb(80, 166, 209);
}
#tp4 div.doc {
  margin: 1em 0 1em 2em;
  width: 40em;
}
#tp4 img {
  height: 441px;
}
.tp4-pdf {
  width: 40%;
}

/* --------------------------------- Thème 5 -------------------------------- */
#tp5 {
  background-color: rgb(80, 110, 209);
}
#tp5 div.doc {
  width: 60em;
}
#tp5 img {
  width: 40%;
}
#tp5 div div img { /* Schema dans la div.doc */
  width: 70%;
}
.tp5-pdf {
  width: 45%;
}

/* --------------------------------- Thème 7 -------------------------------- */
#tp7 {
  background-color: rgb(151, 80, 209);
}
#tp7 img.part1 {
  width: 27%;
}
#tp7 img.partp2 {
  height: 300px;
}


/* --------------------------------- Thème 8 -------------------------------- */
#tp8 {
  background-color: rgb(218, 104, 184);
}
#tp8 div.doc {
  width: 50%;
}
#tp8 img.lion {
  width: 27%;
}
#tp8 img.partp2 {
  width: 90%;
}

/* --------------------------------- Thème 9 -------------------------------- */
#tp9 {
  background-color: rgb(223, 213, 83);
}
#tp9 img {
  width: 27%;
}
